.indicator {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  margin: 5px;
}

.indicatorOnline {
  background-color: var(--mantine-color-green-6);
  box-shadow: 0 0 5px 0 var(--mantine-color-green-4);
}

.indicatorOffline {
  background-color: var(--mantine-color-red-6);
  box-shadow: 0 0 5px 0 var(--mantine-color-red-4);
}

.indicatorHidden {
  display: none;
}
